* {
    background-color: #e5eaf5;
    /* color: rgb(69, 97, 124); */
}


.one {
    border: 1px solid red;
    padding: 10px 25px 40px 50px;
    width: 300px;
    text-align: justify;
 }


 .two {
    border: 1px solid red;
    padding: 50px 25px ;
    width: 300px;
    text-align: justify;
 }


 .three {
    border: 1px solid red;
    padding: 10px 20px 40px;
    width: 300px;
    text-align: justify;
 }