* {
    background-color: #e5eaf5;
    /* color: rgb(69, 97, 124); */
}

.parent {
    height: 50px;
    width: 100px;
    border: 1px solid green;
    padding-top: 15px;
 }



 .child1 {
    width: 800px;
    height: 500px;
    border: 1px solid red;
    text-align: center;
    display: flex;

 }


 

 .child2 {
    width: 800px;
    border: 1px solid red;
    text-align: center;
    display: flex;
 }



 .child3 {
    border: 1px solid red;
    text-align: center;
    display: flex;
 }


 

 .child4 {
    border: 1px solid red;
    text-align: center;
    display: inline-flex;
 }


 

 .child5 {
    border: 1px solid red;
    text-align: center;
    display: inline-flex;
    padding: 40px;
 }


 

 .childr6 {
    border: 1px solid red;
    text-align: center;
    display: flex;
    padding: 40px;
 }

 .parent1 {
    height: 50px;
    width: 100px;
    border: 1px solid green;
    padding-top: 15px;
    margin: 20px;
 }
